.columns {
    display: flex;
    margin: -10px -10px 0 -10px;
}

.column {
    flex: 1;
    padding: 10px;
}

.column.is-2 {
    width: 25%;
    flex: none;
}
.reservationFormWrapper{
    padding-top: 200px;
}

.reserveForm {
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 0px;
    min-width: 852px;
    padding: 10px 32px 48px;
    position: relative;
    z-index: initial;
    background: #11172b; /* latam 1b0088 */
    color: rgb(255, 255, 255);
    font-family: Roboto, HelveticaNeue, Arial, sans-serif;
    font-kerning: auto;
    font-size: 16px;
    font-stretch: 100%;
    padding-bottom: 48px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.80);

}

.buttonWrapper{
    align-items: center;
    bottom: calc(-40px/2);
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
.btn-primary:hover {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.75);
    outline: none;
}
.form-control{
    background-color: #242a48;
    outline: none !important;
    border:1px solid white;
    border-radius: 10px;
    height: 10px;
}
.form-control:focus{
  background-color: #202540;
}